*{
    margin: 0; padding: 0; 
	/*font-family: 'Alfa Slab One', cursive;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Montserrat', sans-serif;*/
    border: none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}
/* Header Section Starts From Here  */
header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	position: absolute;
}

.container {
	width: 1140px;
	margin: 0px auto;
}

.navbar {
	display: flex;
	justify-content: space-between;
	
}

.navbar{
	text-align: right;
}

.topContact {
	padding-bottom: 10px;
}

.topContact span {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 17px;
	color: #422009;
}

.topContact img {
	vertical-align: middle;
	margin-right: 10px;
}

.menuBar ul li {
	list-style: none;
	display: inline-block;
	margin-left: 80px;
	font-size: 21px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
}

.menuBar ul li a {
	color: #422009;
}

/* Gallery Section Starts From Here  */


/*Item Section Starts From Here */

.itemSection {
	width: 100%;
	background-image: url(../img/Background-Image-Top.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 50px;
	height: 100vh;
}

.itemContent {
	display: flex;
}

.leftSide {
	padding-top: 130px;
	padding-right: 30px;
}
.leftSide p {
	font-size: 24px;
	font-family: 'Bebas Neue', cursive;
	font-weight: regular;
	color: #422009;
	border: dashed;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 136px;
	padding-bottom: 10px;
}

.leftSide h1 {
	font-size: 114px;
	font-family: 'Alfa Slab One', cursive;
	color: #422009;
	text-transform: uppercase;
	text-shadow: 4px 5px #fbf4f4;
	letter-spacing: 1px;
}

.leftSide h2 {
	font-size: 56px;
	font-family: 'Alfa Slab One', cursive;
	color: #422009;
	text-transform: uppercase;
	text-shadow: 4px 5px #fbf4f4;
	letter-spacing: 1px;
}

.rightSide img {
	width: 100%;
}


/*ItemSection Starts From Here */


/* Gallery Section Starts From Here  */

.gallerySection {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}

.gallery {
	display: flex;
}

.leftSideImage {
	margin-right: 16px;
}

.rightSideImage {
	margin-left: 16px;
}

.gallery img {
	width: 100%;
	height: auto;
}

.gItem {
	position: relative;
}

.gContent {
	position: absolute;
	top: 30px;
	left: 30px;
}

.gContent h3 {
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.gContent h2 {
	font-size: 42px;
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.lh-38 {
	line-height: 38px;
}

.marGin {
	margin-bottom: 30px;
}


/*Gallery Section Ends From Here */


/*  <!-- Text Section Starts From Here -->*/

.textSection {
	width: 100%;
}

.textContent {
	text-align: center;
}

.textContent button {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: #ffc234;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
	margin-bottom: 20px;
}

.textContent h2 {
	font-size: 50px;
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	color: #422009;
	letter-spacing: 1px;
}

.textContent p {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 20px;
}


/*  <!-- Text Section Ends From Here -->*/

/* Images Section Starts From Here */

.imagesSection {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.imageContent {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.images img {
	width: 100%;
	height: auto;
}

.images2 {
	padding-top: 30px;
}

.images h3 {
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	color: #422009;
	letter-spacing: 1px;
	font-weight: 500;
}

.images p {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: #422009;
	padding-bottom: 20px;
}

.images button {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 30px;
	padding-left: 30px;
	background: #df1d1d;
	border: none;
	font-size: 15px;
	font-family: 'Alfa Slab One', cursive;
	color: white;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.images button::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	right: 0;
	height: 0%;
	background-color: #f92672;
	transition: 0.5s;
	z-index: -1;
}

.images button:hover::before {
	height: 100%;
	transition: 0.5s;
	border-radius: 50% 0% 50% 0%;
}


/*Images Section Ends From Here*/


/*Slider Section Starts From Here*/

.slider {
	width: 100%;
}

.bothContent {
	display: flex;
}

.leftContent {
	flex-basis: 47%;
	padding-top: 40px;
	padding-left: 50px;
}

.rightContent {
	flex-basis: 53%;
}

.leftContent h3 {
	font-size: 29px;
	font-family: 'Bebas Neue', cursive;
	color: #3a3a3a;
	font-weight: 500;
	text-transform: uppercase;
}

.leftContent h2 {
	font-size: 32px;
	font-family: 'Alfa Slab One', cursive;
	color: #422009;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.leftContent p {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #3a3a3a;
	font-weight: 500;
	padding-top: 30px;
	line-height: 1.5;
}

.rightContent img {
	width: 100%;
}

.box-shadow {
	box-shadow: 15px 15px 15px rgba(94, 93, 93, 0.54);
	padding: 20px;
	margin-top: 80px;
	margin-bottom: 20px;
}

.owl-nav {
	display: none;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
	position: absolute;
	bottom: 20px;
	left: 42px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #ffc84e;
}

/* Slider Section Ends From Here */

/*Form Section Starts From Here*/

.formsection {
	width: 100%;
}

.contents {
	display: flex;
	justify-content: space-between;
}

.leftContent1 {
	flex-basis: 25%;
}

.middleContent1 {
	flex-basis: 50%;
}

.rightContent1 {
	flex-basis: 25%;
}

.bun img {
	width: 100%;
	margin: -20px auto auto auto;
}

.sauce img {
	margin-top: -180px;
	margin-left: 100px;
	width: 68%;
}

.middleContent1 {
	margin-top: 120px;
}

.top h3 {
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
	color: #422009;
	letter-spacing: 1px;
	font-weight: 400;
	text-align: center;
}

.top h2 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	text-transform: uppercase;
	color: #422009;
	text-align: center;
	padding-bottom: 50px;
}

.one {
	display: flex;
}

.firstForm {
	width: 100%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.secondForm {
	width: 100%;
	margin-left: 20px;
}

.firstForm input {
	padding-left: 15px;
	width: 100%;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: medium;
	border-top: 1px solid #dbd4d4;
	border-bottom: 1px solid #dbd4d4;
	border-radius: 5px;
}

.secondForm input {
	padding-left: 15px;
	width: 100%;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: medium;
	border-top: 1px solid #dbd4d4;
	border-bottom: 1px solid #dbd4d4;
	border-radius: 5px;
}

.two {
	display: flex;
}

.dateForm {
	width: 100%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.timeForm {
	width: 100%;
	margin-left: 20px;
}



.dateForm input {
	padding-left: 15px;
	width: 100%;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: medium;
	border-top: 1px solid #dbd4d4;
	border-bottom: 1px solid #dbd4d4;
	border-radius: 5px;
}

.timeForm input {
	padding-left: 15px;
	width: 100%;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: medium;
	border-top: 1px solid #dbd4d4;
	border-bottom: 1px solid #dbd4d4;
	border-radius: 5px;
}

.three {
	display: flex;
}

.peopleForm{
	width: 100%;
	margin-right: 20px;
}

.btnform {
	width: 100%;
	margin-left: 20px;
}

.peopleForm input {
	padding-left: 15px;
	width: 100%;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: medium;
	border-top: 1px solid #dbd4d4;
	border-bottom: 1px solid #dbd4d4;
	border-radius: 5px;
}

.btnform button {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	padding-left: 90px;
	padding-right: 90px;
	width: 100%;
	background: #df1b1b;
	color: white;
	border: none;
	height: 56px;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.btnform button::before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	height: 0%;
	top: 0;
	background-color: #f92672;
	z-index: -1;
	transition: 0.5s;
}

.btnform button:hover::before {
	height: 100%;
	transition: 0.5s;
	border-radius: 0% 50% 0% 50%;
}

.fries img {
	width: 100%;
	height: auto;
	padding-top: 180px;
}
/* Form Section Starts From Here */


/*Footer Section Starts From Here*/

.footer {
	width: 100px;
	margin-top: -130px;
}

.marGin1 {
	margin-bottom: 30px;
	margin-left: 100px;
}

.footerContent {
	width: 100%;
	background-image: url(../img/Background-Image-Bottom.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.footer-left {
	flex-basis: 50%;
}

.footer-right {
	flex-basis: 50%;
}

.footer-left img {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.footerLeft p {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 30px;
	padding-top: 20px;
}

.footerLeft h5 {
	font-size: 14px;
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	padding-top: 100px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.footerRight {
	padding-left: 150px;
	padding-top: 150px;
}

.footerRight span {
	font-size: 17px;
	font-family: 'Bebas Neue', cursive;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 400;
	letter-spacing: 1px;
}

.footerRight img {
	vertical-align: middle;
	padding-bottom: 10px;
}

.icon ul li {
	list-style: none;
	display: inline-block;
}

.icon ul {
	display: inline-block;
}

.icon ul li a i {
	width: 30px;
	height: 30px;
	background: white;
	font-size: 15px;
	text-align: center;
	padding-top: 7px;
	border-radius: 50px;
	color: #040403;
}

.icon {
	text-align: right;
	padding-right: 20px;
	padding-top: 100px;
	margin: 8px;
}

.icon .kp {
	margin-right: 5px;
	margin-left: 5px;
}

.icon .kq {
	margin-right: 5px;
}


/*Footer Section Ends From Here*/
